:root {
  --topic-node-color: #cbd5e1; /* Purple color for topic nodes */
  --selected-node-color: #2662bd; /* Red color for selected nodes */
  --question-node-color: #06d001; /* Green color for question nodes */
}

#mindmap {
  width: 100%;
  height: 600px;
  background: linear-gradient(180deg, #ffff, #e3f2ff);
  border: 1px solid #ddd;
}
body {
  margin: 20px;
  color: black; /* Adjusted text color for contrast */
  font-family: Poppins, Plus Jakarta Sans, sans-serif;
}
input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  width: 300px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.input-container {
  margin-bottom: 20px;
}
